<div class="col-md-4">
    <img src="https://image.tmdb.org/t/p/w500/{{@movie.poster_path}}" width="100%" alt="and">
    <h2>
        {{@movie.title}}
    </h2>
    <p>
        {{@movie.overview}}
    </p>
</div>